
hgroup {
  text-align: left;
  font-family: "Montserrat";
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 18px;
  font-style: bold;
}
nav {
  height: 40px;
  width: 100%;
  background-color: red;
  z-index: 1;
}
footer {
  margin-top: 25px;
  text-align: right;
}


.txt {
display: inline-flex;
background-color: pink;
flex-direction: column;
width: 100%;
}
div {
  font-family: "Montserrat";
  width: 100%;
}


@media screen and (min-width: 1000px) {

.txt {
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
background-color: yellow;
}
.subtxt {
width: calc((100% - 40px)/2);
}
}
*/